html::-webkit-scrollbar-track {
    background-color: rgb(1, 0, 15);
}

html::-webkit-scrollbar {
    width: 6px;
    background: rgb(1, 0, 15);
}

html::-webkit-scrollbar-thumb {
    background: rgb(35, 34, 61);
    ;
}

body {
    background: rgb(1, 0, 15);
    background: radial-gradient(circle, rgba(1, 0, 15, 1) 0%, rgba(12, 13, 32, 1) 74%, rgba(11, 15, 33, 1) 87%, rgba(13, 24, 27, 1) 100%);
    color: white;
    position: relative;
    overflow-x: hidden;
}

.outer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 64px 0 104px 0;
}

.images {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    margin: 0;
    position: relative;
    top: 50%;
}

.handshake {
    height: 128px;
    width: 128px;
    padding: 12px;
    opacity: 0;
    animation: fadeIn 2s both;
    animation-delay: 1.6s;
}

.handshake img {
    width: 100%;
    height: 100%;
    animation: moveForever 2s infinite alternate;
    animation-delay: 3.6s;
}

.bolsonaro,
.pcmsLogo img {
    width: 100%;
    max-width: 398px;
    height: auto;
    border-radius: 8px;
}

.bolsonaro {
    opacity: 0;
    animation: fadeIn 1.6s;
    animation-delay: .8s;
    animation-fill-mode: forwards;
}

.pcmsLogo {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 1.6s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
}

.pcmsLogo .hover {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px;
    bottom: -101%;
    transition: .3s;
    backdrop-filter: blur(10px);
    filter: opacity(0.6);
    background-color: rgb(1, 0, 15);
}

.pcmsLogo .hover p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

.pcmsLogo:hover .hover {
    bottom: -65%;
}

.href,
.pcmsLogo {
    text-decoration: underline solid #551a8b;
    cursor: pointer;
    color: #551a8b;
}

.href:hover {
    text-decoration: underline solid #300558;
    color: #300558;
    transition: all 0.2s;
}

.href:active {
    text-decoration: underline solid #fa6b34;
    color: #fa6b34;
    transition: all 0.05s;
}

.divPhrase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0 16px 0;
    opacity: 0;
    animation: fadeIn 1.6s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.divPhrase a {
    color: #899EF6;
    text-decoration: none;
    font-weight: 700;
}

.divPhrase a:hover {
    color: #899EF6;
    filter: brightness(0.7);
    text-decoration: none;
}

.phrase {
    font-size: 1.15em;
    text-align: center;
    color: #FFFFFF;
}

.phrase,
.memes {
    font-family: 'Courier New', Courier, monospace;
}

.memes {
    padding-bottom: 96px;
    opacity: 0;
    animation: fadeIn 2s both;
    animation-delay: 4s;
}

.memes h2 {
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
}

.memes .content {
    width: 85%;
    margin: auto;
    margin-top: 8%;
}

.memes .content,
.meme {
    display: flex;
}

.meme .text {
    margin-left: 20px;
    font-size: 1.5em;
    text-align: justify;
}

.meme .text h3 {
    margin: 0;
    font-style: italic;
}

.meme .text p {
    margin: 10px 0;
}

.meme video,
.meme img {
    border-radius: 10px;
}

audio#music {
    opacity: 0;
    animation: fadeIn 2s both;
    animation-delay: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveForever {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(16px);
    }
}

@media(max-width: 1032px) {
    .images {
        flex-direction: column;
    }
    .memes {
        justify-content: center;
    }
    .memes .meme {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .memes .meme .text p,
    .memes .meme .text {
        margin: 0;
    }
}